<footer>
    <div class="section footer-banner">
        <div class="hero-container">
            <div class="d-flex flex-column gspace-2">
                <div class="footer-header">
                    <div class="logo-container footer">
                        <img src="./assets/images/lcr-digital-logo.png" alt="LCR DIGITAL" class="img-fluid">
                    </div>
                    <p>Agence web LCR DIGITAL : creation de sites performants, visibles et pensés pour convertir.</p>
                    <div class="social-container">
                        <a href="#" class="social-item">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-item">
                            <i class="fa-brands fa-x-twitter"></i>
                        </a>
                        <a href="#" class="social-item">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                        <a href="#" class="social-item">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                </div>

                
                <div class="footer-link">
                    <div class="underline-footer"></div>
                    <div class="row row-cols-xl-4 row-cols-md-2 row-cols-1 g-3">
                        <div class="col">
                            <div class="d-flex flex-column gspace-2 text-xl-start text-center align-items-xl-start align-items-center">
                                <h5 class="accent-color">Contact</h5>
                                <div class="footer-list-underline"></div>
                                <div class="d-flex flex-row align-items-center gspace-2">
                                    <i class="fa-solid fa-md fa-phone accent-color"></i>
                                    <div class="d-flex flex-column gspace-1">
                                        <p class="mb-0">Téléphone</p>
                                        <p class="mb-0">06 66 15 80 58</p>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center gspace-2">
                                    <i class="fa-solid fa-md fa-envelope accent-color"></i>
                                    <div class="d-flex flex-column gspace-1">
                                        <p class="mb-0">Email</p>
                                        <p class="mb-0">contact@lcr-digital.fr</p>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center gspace-2">
                                    <i class="fa-solid fa-md fa-location-dot accent-color"></i>
                                    <div class="d-flex flex-column gspace-1">
                                        <p class="mb-0">Adresse</p>
                                        <p class="mb-0">76000 Rouen</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-flex flex-column gspace-2 text-xl-start text-center align-items-xl-start align-items-center">
                                <h5 class="accent-color">Liens rapides</h5>
                                <div class="footer-list-underline"></div>
                                <ul class="footer-list">
                                    <li><a href="/lcr-digital-agence-digital-web-normandie-rouen">A propos</a></li>
                                    <li><a href="/questions-frequentes-agence-digitale-rouen">FAQ</a></li>
                                    <li><a href="/contact-agence-digitale-rouen">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-flex flex-column gspace-2 text-xl-start text-center align-items-xl-start align-items-center">
                                <h5 class="accent-color">Services</h5>
                                <div class="footer-list-underline"></div>
                                <ul class="footer-list">
                                    <li><a href="/service-one-page">One Page</a></li>
                                    <li><a href="/service-site-vitrine">Site vitrine</a></li>
                                    <li><a href="/service-site-catalogue">Site catalogue</a></li>
                                    <li><a href="/service-ecommerce">Site e-commerce</a></li>
                                    <li><a href="/service-app-mobile">Application mobile</a></li>
                                    <li><a href="/service-sur-mesure">Développement personnalisé</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-flex flex-column gspace-2 text-xl-start text-center align-items-xl-start align-items-center">
                                <h5 class="accent-color">Conseils & contact</h5>
                                <div class="footer-list-underline"></div>
                                <p>Recevez des conseils web et SEO. Contactez-nous pour les recevoir.</p>
                                <a href="/contact-agence-digitale-rouen" class="btn btn-accent">Nous contacter</a>
                            </div>
                        </div>
                    </div>
                    <div class="underline-footer"></div>
                </div>

                <div class="copyright-container">
                    <p>Copyright © 2024 LCR DIGITAL, tous droits reserves.</p>

                    <div class="d-flex flex-row align-items-center gspace-2">
                        <a href="#" class="legal-link">Politique de confidentialite</a>
                        <a href="#" class="legal-link">Conditions d'utilisation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
