<aside>
    <div>
        <div class="sidebar-overlay"></div>
        <div class="sidebar">
            <div class="sidebar-header">
                <div class="logo-container sidebar-logo">
                    <img src="./assets/images/lcr-digital-logo.png" alt="LCR DIGITAL" class="img-fluid">
                </div>
                <button class="close-btn btn-white-accent"><span>X</span></button>
            </div>
            <ul class="menu">
                <li><a href="/agence-web">Accueil</a></li>
                <li><a href="/agence-digitale">A propos</a></li>
                <li class="sidebar-dropdown">
                    <div class="dropdown-header">
                        <a href="#">Nos services</a>
                        <button class="sidebar-dropdown-btn"><i class="fa-solid fa-chevron-down"></i></button>
                    </div>
                    <ul class="sidebar-dropdown-menu">
                        <li><a href="/services-web">Tous nos services</a></li>
                        <li><a href="/creation-site-one-page">One Page</a></li>
                        <li><a href="/creation-site-vitrine">Site vitrine</a></li>
                        <li><a href="/creation-site-catalogue">Site catalogue</a></li>
                        <li><a href="/creation-site-ecommerce">Site e-commerce</a></li>
                        <li><a href="/creation-application-mobile">Application mobile</a></li>
                        <li><a href="/developpement-web-sur-mesure">Développement personnalisé</a></li>
                    </ul>
                </li>
                <li><a href="/tarifs-creation-site-web">Tarifs</a></li>
                <li><a href="/contact-agence-web">Contact</a></li>
            </ul>
        </div>
    </div>
</aside>
